---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      everything:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/"
    ignore:
      - dependency-name: "@types/node" # Needs to be oldest LTS version
    schedule:
      interval: "weekly"
    cooldown-period: 15
