
# Logs
logs
*.log

# Coverage
coverage

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# SAST
.scannerwork

# Mutation testing
.stryker-tmp/

# IDE
*.iml
.idea/
.vscode/
.nova/

# Agents
## /graphify hook install
.husky/post-checkout
.husky/post-commit
graphify-out

# OS
.DS_Store
