name: "Test (sast)"

on:
  pull_request:
  schedule:
    - cron: "43 3 * * 5"
  workflow_dispatch:

env:
  NODE_VERSION: 24.x

permissions:
  contents: read

jobs:
  sandworm:
    name: "sandworm: SCA & Licensing"
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Remove deprecated npm config
        run: npm config delete always-auth
      - name: Hash sandworm
        run: npm show @sandworm/audit@1.56.1 dist.shasum
      - name: Install sandworm/audit@1.56.1 [e2369dc42d342f085947fe40e960a93a9123f525]
        run: npm i -g @sandworm/audit@1.56.1
      - name: sandworm
        run: sandworm-audit --skip-tree

  lockfile:
    name: "lockfile-lint: SAST package-lock.json"
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org
      - name: Hash lockfile-lint
        run: npm show lockfile-lint@4.14.1 dist.shasum
      - name: Install lockfile-lint@4.14.1 [3391ea68cf50c1a478ce113913c4c778768a4b9e]
        run: npm i -g lockfile-lint@4.14.1
      - name: lockfile-lint
        run: lockfile-lint --path package-lock.json --type npm --allowed-hosts npm --validate-https

  # https://github.com/github/codeql-action
  codeql:
    name: "CodeQL: SAST"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [javascript]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Initialize CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality

      - name: Autobuild
        uses: github/codeql-action/autobuild@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          category: "/language:${{ matrix.language }}"

  # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
  semgrep:
    name: "semgrep: SAST"
    runs-on: ubuntu-latest

    container:
      # https://hub.docker.com/r/semgrep/semgrep/tags
      image: semgrep/semgrep:1.111.0 # v1.111.0

    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
      - name: semgrep
        run: semgrep ci
