name: "Test (sast)"

on:
  pull_request:
  schedule:
    - cron: "43 3 * * 5"
  workflow_dispatch:

env:
  NODE_VERSION: 24.x

permissions:
  contents: read

jobs:
  sandworm:
    name: "sandworm: SCA & Licensing"
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Remove deprecated npm config
        run: npm config delete always-auth
      - name: Install sandworm
        run: npm i -g @sandworm/audit@1.56.1
      - name: sandworm
        run: sandworm-audit --skip-tree

  lockfile:
    name: "lockfile-lint: SAST package-lock.json"
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org
      - name: Install lockfile-lint
        run: npm i -g lockfile-lint@4.14.1
      - name: lockfile-lint
        run: lockfile-lint --path package-lock.json --type npm --allowed-hosts npm --validate-https

  # https://github.com/github/codeql-action
  codeql:
    name: "CodeQL: SAST"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [javascript]

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Initialize CodeQL
        uses: github/codeql-action/init@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality

      - name: Autobuild
        uses: github/codeql-action/autobuild@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        with:
          category: "/language:${{ matrix.language }}"

  # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
  semgrep:
    name: "semgrep: SAST"
    runs-on: ubuntu-latest

    container:
      # https://hub.docker.com/r/semgrep/semgrep/tags
      image: semgrep/semgrep:1.111.0 # v1.111.0

    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
      - name: semgrep
        run: semgrep ci
