name: "Test (sast)"

on:
  pull_request:
  schedule:
    - cron: "43 3 * * 5"
  workflow_dispatch:

env:
  NODE_VERSION: 23.x

permissions:
  contents: read

jobs:
  sandworm:
    name: "sandworm: SCA & Licensing"
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Cache npm
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install sandworm
        run: npm i -g @sandworm/audit@1.56.1
      - name: sandworm
        run: sandworm-audit --skip-tree

  # https://github.com/github/codeql-action
  codeql:
    name: "CodeQL: SAST"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [javascript]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3.28.18
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality

      - name: Autobuild
        uses: github/codeql-action/autobuild@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3.28.18

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3.28.18
        with:
          category: "/language:${{ matrix.language }}"

  # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
  semgrep:
    name: "semgrep: SAST"
    runs-on: ubuntu-latest

    container:
      # https://hub.docker.com/r/semgrep/semgrep/tags
      image: semgrep/semgrep:1.111.0 # v1.111.0

    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      # https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions
      - name: semgrep
        run: semgrep ci
