name: Publish Website

on:
  workflow_dispatch:
  push:
    paths:
      - "website/*"
    branches:
      - main

env:
  NODE_VERSION: 24.x

permissions:
  contents: read

jobs:
  website:
    name: Publish website
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        working-directory: website
        run: |
          npm ci
      - name: Build website
        working-directory: website
        run: |
          npm run build
      - name: Publish website
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
