name: Test Website

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "website/*"
    branches:
      - "main"

env:
  NODE_VERSION: 24.x

permissions:
  contents: read

jobs:
  website:
    name: Test website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        working-directory: website
        run: |
          npm ci
      - name: Build website
        working-directory: website
        run: |
          npm run build
